/* Reset and Base Styles */
* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(250, 229, 204);
    font-family: 'Poppins', sans-serif;
}


.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 2rem;
    font: bold;
}

.heading .firstTwoWords {
    color: #47a100;
    margin-right: 10px;
}

.firstTwoWords span {
    color: #60471c;
}

.main {
    margin-top: 60px;
    max-width: 660px;
    background: white;
    border-radius: 20px;
    padding: 40px 30px;
    margin-right: 10px;
}

.completingGoals {
    margin-top: 30px;
}



.progress-bar {
    margin: 20px 0;
    width: 574px;
    height: 30px;
    background-color: rgba(72, 163, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 42px;
}

.progress-value {
    height: 100%;
    width: 0;
    background-color: #44a300;
    border-radius: 15px;
    font-weight: 500;
    font-size: 12px;
    color: #eeffe0;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.progress-value span {
    white-space: nowrap;
    display: inline;
    padding-left: 20px;
}

.error-label {
    color: #FF5151;
    margin-top: 4px;
    font-size: 20px;
    display: none;
}

.show-error .error-label{
    display: block;
}
.goal-container {
    margin-top: 20px;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 17px;
    width: 570px;
    min-height: 82px;
    padding: 0 22px;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    margin-bottom: 42px;
}

.custom-checkbox {
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(97, 72, 28, 0.3);
    border-radius: 50%;
    flex-shrink: 0;
}

.goal-input {
    margin-left: 22px;
    width: 100%;
    font-size: 16px;
    outline: none;
    border: none;
    /* flex-grow: 1; */
    align-self: stretch;
    font-weight: 700;
    
}

.goal-input::placeholder {
    color: #D9D9D9;
}

.check-icon {
    display: none;
}

.quote {
    font-weight: 500;
    text-align: center;
}

.made-by {
    font-weight: 500;
    margin-top: 80px;
    text-align: center;
    color: #858585;
    font-size: 15px;
    font: medium;
}

.completed .custom-checkbox {
    background-color: #44a300;
    border-color: #44a300;
}

.completed .goal-input{
    color: #44a300;
    text-decoration-line: line-through;
}
.completed .check-icon{
    display: block;
}

