* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F6F0EB;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration-line: none;
    color: inherit;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 24px 32px;
}

nav a {
    font-weight: 700;
    font-size: 20px;
    color: #492118;
}

/*  nav a + a excep first apply style to all  */
nav a+a {
    margin-left: 60px;
}

.logo {
    width: 50px;
}

img {
    width: 100%;
}

main{
    padding: 0 24px;
}

.hero-section {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-section p{
    font-size: 24px;
    line-height: 30px;
    color: #492118;
    margin-bottom: 100px;
}

.img-container{
    max-width: 1290px;
    margin: 0 auto;
}

.food-section{
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.food-section h1{
    color: #492118;
    font-size: 2.4em;    
    font: bold;
}
.img {
    max-width: 1040px;
}