* {
    box-sizing: border-box;
}


body {
    margin: 0;
    background-color: #f6f0eb;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.main-content {
    overflow-x: hidden;
    height: 100vh;
    scroll-behavior: smooth;
}

a {
    text-decoration-line: none;
    color: inherit;
}

header {
    background-color: #fff;
    padding: 24px;
}

.header-content {
    margin: 0 auto;
    max-width: 1290px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
}

nav {
    display: flex;

}

nav a {
    font-weight: 700;
    font-size: 20px;
    color: #492118;
}

/*  nav a + a excep first apply style to all  */
nav a+a {
    margin-left: 60px;
}

.close-icon {
    position: absolute;
    top: 8px;
    right: 12px;
    display: none;
}

.hamburger-menu-container {
  height: 50px;
    width: 50px;
    overflow: hidden;
    position: relative;
    display: none;
}

.hamburger-menu {
 height: 200px;
    width: 200px;
    position: absolute;
    top: -145px;
    right: -140px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

.hamburger-icon {
    font-size: 16px;
    position: absolute;
    left: 34px;
    bottom: 26px;
}

.logo {
    width: 50px;
}

img {
    width: 100%;
}

main {
    padding: 0 24px;
}

.hero-section {
    margin-top: 100px;
}

.hero-section p {
    font-size: 24px;
    line-height: 30px;
    color: #492118;
    margin-bottom: 100px;
    text-align: center;
}

.img-container {
    max-width: 1290px;
    margin: 0 auto;
}

.food-section {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.food-section .img-container {
    max-width: 960px;
}

.food-section h2 {
    font-weight: 700;
    color: #492118;
    font-size: 48px;
    text-align: center;
}

.img {
    max-width: 1040px;
}

.go-to-top {
    margin: 0 auto;
    text-align: right;
    max-width: 960px;
    font-size: 32px;
    margin-top: 80px;
}

.go-to-top a {
    text-decoration-line: underline;
}

.footer-text {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #858585;
    margin-top: 64px;
}

@media (max-width: 1200px) {
    nav a {
        font-size: 16px;
    }

    nav a+a {
        margin-left: 48px;
    }

    header {
        padding: 16px 24px;
    }
}

@media (max-width: 960px) {

    nav a {
        font-size: 12px;
    }

    nav a+a {
        margin-left: 32px;
    }

    .food-section {
        margin-top: 42px;
    }

    .hero-section p {
        font-size: 14px;
    }

    .food-section h2 {
        font-size: 14px;
    }
}

@media (max-width: 760px) {

    header {
        background-color: rgba(246, 240, 235, 0.459);
        backdrop-filter: blur(8px);
        position: sticky;
        top: 0;
        padding: 8px 24px;
    }

    .header-content {
        min-height: 40px;
    }

    .menu-open .hamburger-menu-container {
        display: none;
    }

    .menu-open nav {
        /* display: flex; */
        right: 24px;
    }

    .hero-section {
        margin-top: 32px;
    }



    nav {
        position: absolute;
        background: rgba(255, 255, 255, 0.9);
        flex-direction: column;
        padding: 24px;
        top: 16px;
        right: -200px;
        /* display: none; */
        transition: right 0.25s ease-in-out;
    }

    nav a+a {
        margin: 0;
        margin-top: 16px;
    }

    .close-icon,
    .hamburger-menu-container {
        display: block;
        cursor: pointer;
    }

    .go-to-top {
        margin-top: 40px;
        font-size: 12px;
    }

    .footer-text {
        margin-top: 32px;
        font-size: 10px;
    }

    .logo {
        width: 30px;
    }
}