@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}

.to-do-app {
    background-color: #fff;
    width: 100%;
    max-width: 540px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.to-do-app .notebook-img {
    width: 35px;
    margin-left: 10px;
}

.to-do-app h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.add-tasks {
    background-color: #edeef0;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    margin-bottom: 25px;
}

.add-tasks input {
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 10px;
}

.add-tasks button {
    border: none;
    outline: none;
    background: #ff5945;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}

ul li {
    /* background-color: #edeef0; */
    padding: 12px 8px 12px 50px;
    list-style: none;
    position: relative;
}

ul li::before {
    content: '';
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(images/checked.png);
}