* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(45, 40, 40);
}

.Weather-container {
    background: linear-gradient(-45deg, #487b96, #04f9b6);
    padding: 40px;
    border-radius: 30px;
    margin-top: 100px;
}

.Weather-container .weather {
    margin-inline: auto;
    color: white;
}

.weather .weather-icon {
    margin: 20px;
}

.search-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar input {
    border-radius: 40px;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    border: 0;
    outline: none;
}


.search-bar button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.weather-dets {
    width: 100%;
    text-align: center;
    display: none;
}

.weather-dets .temp {
    font-size: 5rem;
    font-weight: 500;
}

.weather-dets .city {
    font-size: 3rem;
    font-weight: 400;
    margin-top: -10px;
}

.humidity-windspeed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.section {
    display: flex;
    align-items: center;
    text-align: left;
}

.humidity-windspeed .section img {
    width: 40px;
    margin-right: 10px;
}

.humidity,
.wind {
    font-size: 1.8rem;
    margin-top: -6px;
    font-weight: 500;
}

.error {
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 14px;
    display: none;
}