* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(45, 40, 40);
}

.Weather-container {
    /* min-width: 520px; */
    background: linear-gradient(-45deg, #487b96, #04f9b6);
    padding: 40px;
    border-radius: 30px;

}

.Weather-container .weather {
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    color: white;
}

.weather .full-sun {
    margin: 20px;
}

.search-bar input {
    min-width: 300px;
    border-radius: 40px;
    outline: none;
}

.Weather-container .weather .search-bar input,
button {
    padding: 20px;
    border: none;
}

.search-bar button {
    border-radius: 50%;
    margin-left: 20px;
}

.weather-dets {
    width: 100%;
    text-align: center;
}


.weather-dets .temp {
    font-size: 5rem;
    font-weight: 500;
}

.weather-dets .city {
    font-size: 3rem;
    font-weight: 400;
    margin-top: -10px;
}

.humidity-windspeed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 50px;
}

.section {
    display: flex;
    align-items: center;
    text-align: left;
}

.humidity-windspeed .section img {
    width: 40px;
    margin-right: 10px;
}

.humidity,
.wind {
    font-size: 1.8rem;
    margin-top: -6px;
}