* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(45, 40, 40);
}

.Weather-container {
    /* min-width: 520px; */
    background: linear-gradient(-45deg, #487b96, #04f9b6);
    padding: 40px;
    border-radius: 30px;

}

.Weather-container .weather {
    min-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weather .full-sun{
    margin: 20px;
}
.search-bar input {
    min-width: 400px;
    border-radius: 40px;
    border: none;
}

.Weather-container .weather .search-bar input,
button {
    padding: 20px;
    border: none;
}

.search-bar button {
    border-radius: 50%;
    margin-left: 20px;
}


.weather-dets .temp h1 {
    font-size: 5rem;
    font-weight: 600;
    color: white;
    text-align: center;
}

.weather-dets .temp h2{
    font-size: 3rem;
    font-weight: 500;
    color: white;
}



